@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Libre Franklin", sans-serif;
}

:root {
	/* ### primary */
	--blue: hsl(223, 87%, 63%);

	/* ### secondary */
	--pale-blue: hsl(223, 100%, 88%);
	--light-red: hsl(354, 100%, 66%);

	/* ### neutral */
	--gray: hsl(0, 0%, 59%);
	--very-dark-blue: hsl(209, 33%, 12%);

	--margin: 1em;
	font-size: 12px;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	place-content: center;
}

main {
	margin: var(--margin);
	margin-top: 4em;
	gap: calc(var(--margin) * 3);
	max-width: 40em;
}

main * {
	width: 100%;
}

img {
	width: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

/* TITLE */

#title {
	gap: var(--margin);
}

#logo {
	width: 4em;
	margin: 2em;
}

#title h1 {
	font-size: 1.5em;
}

#title span {
	font-weight: 300;
	color: var(--gray);
}

/* EMAIL CONTAINER */

#email-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--margin);
}

#email-container input {
	flex-grow: 1;
	flex-basis: 35ch;
	border-radius: 2em;
	border: 1px solid var(--gray);
	padding: 1.5ch;
}

#email-container button {
	flex-grow: 1;
	flex-basis: content;
	border-radius: 2em;
	border: 1px solid var(--gray);
	background-color: var(--blue);
	color: white;
	padding: 1.5ch;
}

/* IMAGE */

#image {
	margin-top: 3em;
}

/* FOOTER */

footer {
	font-size: 11px;
	text-align: center;
	place-items: center;
}

footer a {
	color: hsl(228, 45%, 44%);
}
